/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

.HomeHeader{
display: flex;
justify-content: space-between;
padding: 30px 0px;
}

.HomeNav{
    Width: 605px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.HomeNav a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: flex;
    align-items: flex-end;
}

.topimg{
    padding: 25px 0px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box .box1{
    background: teal;
    padding: 42px 30px;
}

.middle-content .boxes .box .box2{
    background: gold;
    padding: 42px 30px;
}

.middle-content .boxes .box .box3{
    background: cadetblue;
    padding: 42px 30px;
}

.middle-content .boxes .box .box4{
    background: coral;
    padding: 42px 30px;
}

.middle-content .boxes .box .box5{
    background: crimson;
    padding: 42px 30px;
}

.middle-content .boxes .box .box6{
    background: forestgreen;
    padding: 42px 30px;
}

.middle-content .boxes .box .box7{
    background: darkorchid;
    padding: 42px 30px;
}

.middle-content .boxes .box .box8{
    background: hotpink;
    padding: 42px 30px;
}

.middle-content .boxes .box .box9{
    background: indigo;
    padding: 42px 30px;
}

.middle-content .boxes .box .box10{
    background: dodgerblue;
    padding: 42px 26px;
    white-space: nowrap;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*Start of CSS for About Page */

.AboutPage{
    margin: 0 auto;
    width: 800px;
}

.AboutHeader{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    }
    
    .AboutNav{
        Width: 605px;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    .AboutNav a{
        text-decoration: none;
        font-size: 17px;
        color: black;
        display: flex;
        align-items: flex-end;
    }

    .Abouttopimg{
        padding: 20px 0px;
    }

    .abouttopcontent{
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-bottom: 1px dashed black;
        margin-bottom: 25px;
    }

    .fourboxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .StrategyBox{
width: 45%;
border-bottom: 1px dashed black;
margin-bottom: 35px;
padding: 10px;
    }

.StrategyBox h1{
    padding-top: 10px;
}

    .HowBox{
width: 45%;
border-bottom: 1px dashed black;
margin-bottom: 35px;
padding: 10px;
    }
.HowBox h1{
    padding-top: 10px;
}


.PlacesBox{
width: 45%;
border-bottom: 1px dashed black;
margin-bottom: 35px;
padding: 10px;
}
.PlacesBox h1{
    padding-top:10px;
}

.CollabBox{
width: 45%;
border-bottom: 1px dashed black;
margin-bottom: 35px;
padding: 10px;
}
.CollabBox h1{
    padding-top: 10px;
}

.LearnMore{
border: 2px solid black;
	background-color: white;
	padding: 9px 0px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	width: 110px;
	display: flex;
	justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.bottomContent{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 25px;
}

/* Start of CSS for Contact HTML*/

.ContactPage{
    margin: 0 auto;
    width: 800px;
}

.ContactHeader{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    }
    
    .ContactNav{
        Width: 605px;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    .ContactNav a{
        text-decoration: none;
        font-size: 17px;
        color: black;
        display: flex;
        align-items: flex-end;
    }

    .ContactUsBox{
background: lightgray;
display: flex;
flex-direction: column;

    }

    .input{
        background: white;
        Width: 500px;
    }
    .Name{

    }

    .Email{

    }

    .PhoneNum{

    }
    
    .Mssg{

    }